{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "parser": "typescript",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-organize-imports"],
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": ".eslintrc.cjs",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": [
        ".configs/.ctirc"
      ],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": [
        ".github/workflows/**/*.yml"
      ],
      "options": {
        "parser": "yaml"
      }
    },
    {
      "files": [
        ".vscode/launch.json",
        ".vscode/settings.json",
        "tsconfig.eslint.json",
        "tsconfig.dts.json",
        "tsconfig.prod.json",
        "tsconfig.json"
      ],
      "options": {
        "parser": "json"
      }
    }
  ]
}